# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

nbproject/
build.xml
/src/conf/MANIFEST.MF
src/conf/persistence.xml
web/WEB-INF/glassfish-resources.xml
src/conf/persistence.xml
