<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servletListadoSubastas</servlet-name>
        <servlet-class>servlet.servletListadoSubastas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletLogin</servlet-name>
        <servlet-class>servlet.servletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TAWServlet</servlet-name>
        <servlet-class>servlet.TAWServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletRegistro</servlet-name>
        <servlet-class>servlet.servletRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletGuardar</servlet-name>
        <servlet-class>servlet.servletGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletPujar</servlet-name>
        <servlet-class>servlet.servletPujar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletFavorito</servlet-name>
        <servlet-class>servlet.servletFavorito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletFiltrarSubastas</servlet-name>
        <servlet-class>servlet.servletFiltrarSubastas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAccesoPublicarProducto</servlet-name>
        <servlet-class>servlet.servletAccesoPublicarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletPublicarProducto</servlet-name>
        <servlet-class>servlet.servletPublicarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletListadoMisProductos</servlet-name>
        <servlet-class>servlet.servletListadoMisProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletBorrarSubasta</servlet-name>
        <servlet-class>servlet.servletBorrarSubasta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletTerminarSubasta</servlet-name>
        <servlet-class>servlet.servletTerminarSubasta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletModificarProducto</servlet-name>
        <servlet-class>servlet.servletModificarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAccesoModificarProducto</servlet-name>
        <servlet-class>servlet.servletAccesoModificarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletMisCompras</servlet-name>
        <servlet-class>servlet.servletMisCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletFiltrarMisCompras</servlet-name>
        <servlet-class>servlet.servletFiltrarMisCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletFiltrarMisProductos</servlet-name>
        <servlet-class>servlet.servletFiltrarMisProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletListarNotificaciones</servlet-name>
        <servlet-class>servlet.servletListarNotificaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletEliminarNotificacion</servlet-name>
        <servlet-class>servlet.servletEliminarNotificacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletListadoSubastas</servlet-name>
        <url-pattern>/servletListadoSubastas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLogin</servlet-name>
        <url-pattern>/servletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TAWServlet</servlet-name>
        <url-pattern>/TAWServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletRegistro</servlet-name>
        <url-pattern>/servletRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletGuardar</servlet-name>
        <url-pattern>/servletGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletPujar</servlet-name>
        <url-pattern>/servletPujar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletFavorito</servlet-name>
        <url-pattern>/servletFavorito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletFiltrarSubastas</servlet-name>
        <url-pattern>/servletFiltrarSubastas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAccesoPublicarProducto</servlet-name>
        <url-pattern>/servletAccesoPublicarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletPublicarProducto</servlet-name>
        <url-pattern>/servletPublicarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletListadoMisProductos</servlet-name>
        <url-pattern>/servletListadoMisProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletBorrarSubasta</servlet-name>
        <url-pattern>/servletBorrarSubasta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletTerminarSubasta</servlet-name>
        <url-pattern>/servletTerminarSubasta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletModificarProducto</servlet-name>
        <url-pattern>/servletModificarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAccesoModificarProducto</servlet-name>
        <url-pattern>/servletAccesoModificarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletMisCompras</servlet-name>
        <url-pattern>/servletMisCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletFiltrarMisCompras</servlet-name>
        <url-pattern>/servletFiltrarMisCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletFiltrarMisProductos</servlet-name>
        <url-pattern>/servletFiltrarMisProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletListarNotificaciones</servlet-name>
        <url-pattern>/servletListarNotificaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletEliminarNotificacion</servlet-name>
        <url-pattern>/servletEliminarNotificacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
