<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servletListadoSubastas</servlet-name>
        <servlet-class>servlet.servletListadoSubastas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletLogin</servlet-name>
        <servlet-class>servlet.servletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TAWServlet</servlet-name>
        <servlet-class>servlet.TAWServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletRegistro</servlet-name>
        <servlet-class>servlet.servletRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletGuardar</servlet-name>
        <servlet-class>servlet.servletGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAccesoPublicarProducto</servlet-name>
        <servlet-class>servlet.servletAccesoPublicarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletPublicarProducto</servlet-name>
        <servlet-class>servlet.servletPublicarProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletListadoSubastas</servlet-name>
        <url-pattern>/servletListadoSubastas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLogin</servlet-name>
        <url-pattern>/servletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TAWServlet</servlet-name>
        <url-pattern>/TAWServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletRegistro</servlet-name>
        <url-pattern>/servletRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletGuardar</servlet-name>
        <url-pattern>/servletGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAccesoPublicarProducto</servlet-name>
        <url-pattern>/servletAccesoPublicarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletPublicarProducto</servlet-name>
        <url-pattern>/servletPublicarProducto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
